{% extends "layout.html" %}
{% block content %}
<h2><a id="games">Games</a></h2>
<p>In Progress</p>
    <p>Octopath Traveler<br>Zelda Beath of the Wild<br>Final Fantasy VII<br>Fire Emblem Fates: Conquest<br>Final Fantasy XV-Royal PC Edition<br></p>
<p>Recent Single Player</p>
    <p>Gravity Rush 2<br>Bravely Default<br>Fire Emblem: Awakening<br>Horizon: Zero Dawn<br>Final Fantasy XV<br>Diablo III<br>Nier:Automata</p>
<p>Competitive</p>
    <p>Super Smash Bros Ultimate<br>Hearthstone<br>Player Unknown: Battlegrounds<br>League of Legends<br></p>
{% endblock %}
